.nav {
    width: 100%;
    height: 60px;
    background-color: #adadad;
    display: flex;
}

.nav img {
    margin: 5px;
}

.nav a:first-child {
    display: flex;
    align-items: center;
}

.nav a:not(:first-child) {
    height: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: 0.2s all ease;
}

.nav a:not(:first-child):hover {
    cursor: pointer;
    background-color: rgb(255, 255, 0);
}

.nav a:nth-child(9) {
    margin-right: 10px;
    margin-left: auto;
}

.nav a:nth-child(8) {
    /*margin-right: 10px;*/
    margin-left: auto;
}

.ul {
    width: 100%;
    height: 50px;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-left: 0;
    display: flex;
    align-items: center;
    list-style: none;
    background: #333;
}

.ul li {
    height: 100%;
    align-items: center;
}

.ul li a {
    min-width: min-content;
    height: 100%;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0;
    transition: 0.2s all ease;
}

.ul a:hover {
    background-color: var(--hover-color);
}

.drop-down {
    grid-template-rows: 60px auto;
    display: inline-block;
    z-index: 99;
}

.drop-down .drop-down-link {
    width: min-content;
}

.inner-list {
    min-width: 100px;
    width: max-content;
    visibility: hidden;
    list-style: none;
    display: block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    z-index: 100;
    position: absolute;
    opacity: 0;
    transition: 0.2s all ease;
}

.inner-list>li {
    background: black;
}

.inner-list>li>a {
    padding: 10px 10px;
}

.inner-list:hover {
    visibility: visible;
    opacity: 1;
}

.drop-down:hover .inner-list {
    visibility: visible;
    opacity: 1;
}